button,
input,
select,
textarea
/* [role='button']  */ {
  -webkit-app-region: no-drag;
}

#webpack-dev-server-client-overlay {
  -webkit-app-region: no-drag;
}

html[data-active='true'] {
  opacity: 1;
}

html:is([data-active='false'], [data-dragging='true']) * {
  -webkit-app-region: no-drag !important;
}

html[data-active='false'] {
  opacity: 0;
  transition: opacity 0.2s 0.1s;
}

html[data-active='true']:has([data-blur-background='true']) {
  opacity: 1;
  transition: opacity 0.2s;
}
