# See http://help.github.com/ignore-files/ for more about ignoring files.
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# compiled output
*dist
/tmp
/out-tsc
.nyc_output
.coverage

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
.pnpm-debug.log
/typings
tsconfig.tsbuildinfo

# System Files
.DS_Store
Thumbs.db

# env
*.env.local
*.local.env
.history

.next
out/
storybook-static

module-resolve.js
module-resolve.cjs
/test-results/
/playwright-report/
/playwright/.cache/

# Cache
.eslintcache
next-env.d.ts
