:80 {
	reverse_proxy /api/* keck:3001
	@websockets {
		path /collaboration/*
	}
	reverse_proxy @websockets keck:3000
        reverse_proxy /* lisa:3001 {
                header_up Host lisa:3001
        }
}

http://lisa:3001 {
        root /* ./dist

        file_server {
                precompressed br
        }

        encode {
                zstd
                gzip 9
        }

        @notStatic {
                not path /*.css
                not path /*.js
                not path /*.png
                not path /*.jpg
                not path /*.svg
                not path /*.ttf
                not path /*.eot
                not path /*.woff
                not path /*.woff2
        }

        handle @notStatic {
                try_files {path} /index.html
        }
}
