:root {
  --title-bar-height: 30px;
}

body {
  margin: 0;
  margin-top: var(--title-bar-height);
  height: calc(100vh - var(--title-bar-height));
  width: 100%;
  overflow: hidden;
}

#react-root {
  height: 100%;
  width: 100%;
}
