name: affine_dev_services
services:
  postgres:
    env_file:
      - .env
    image: pgvector/pgvector:pg${DB_VERSION:-16}
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  # https://mailpit.axllent.org/docs/install/docker/
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - 1025:1025
      - 8025:8025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    volumes:
      - mailpit_data:/data

  # https://manual.manticoresearch.com/Starting_the_server/Docker
  manticoresearch:
    image: manticoresearch/manticore:${MANTICORE_VERSION:-10.1.0}
    ports:
      - 9308:9308
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        soft: -1
        hard: -1
    volumes:
      - manticoresearch_data:/var/lib/manticore
  
  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION:-9.0.1}${ELASTIC_VERSION_ARM64}
  #   platform: ${ELASTIC_PLATFORM}
  #   labels:
  #     co.elastic.logs/module: elasticsearch
  #   volumes:
  #     - elasticsearch_data:/usr/share/elasticsearch/data
  #   ports:
  #     - ${ES_PORT:-9200}:9200
  #   environment:
  #     - node.name=es01
  #     - cluster.name=affine-dev
  #     - discovery.type=single-node
  #     - bootstrap.memory_lock=true
  #     - xpack.security.enabled=false
  #     - xpack.security.http.ssl.enabled=false
  #     - xpack.security.transport.ssl.enabled=false
  #     - xpack.license.self_generated.type=basic
  #   mem_limit: ${ES_MEM_LIMIT:-1073741824}
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  #   healthcheck:
  #     test:
  #       [
  #         "CMD-SHELL",
  #         "curl -s http://localhost:9200 | grep -q 'affine-dev'",
  #       ]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 120

  # nginx:
  #   image: nginx:alpine
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./nginx/conf.d:/etc/nginx/conf.d:ro
  #     - ./certs:/etc/nginx/certs:ro
  #   network_mode: host

networks:
  dev:

volumes:
  postgres_data:
  manticoresearch_data:
  mailpit_data:
  elasticsearch_data:
