:root {
  --affine-primary-color: #3a4c5c;
  --affine-muted-color: #a6abb7;
  --affine-highlight-color: #6880ff;
  --affine-placeholder-color: #c7c7c7;
  --affine-selected-color: rgba(104, 128, 255, 0.1);

  --affine-font-family: Avenir Next, apple-system, BlinkMacSystemFont,
    Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial,
    Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

  --affine-font-family2: Roboto Mono, apple-system, BlinkMacSystemFont,
    Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial,
    Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}
