@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/kalam/Kalam-Regular.ttf);
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/kalam/Kalam-Light.ttf);
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/kalam/Kalam-Bold.ttf);
}
