button,
input,
select,
textarea
/* [role='button']  */ {
  -webkit-app-region: no-drag;
}

#webpack-dev-server-client-overlay {
  -webkit-app-region: no-drag;
}

html:is([data-active='false'], [data-dragging='true']) * {
  -webkit-app-region: no-drag !important;
}

html[data-active='false']:has([data-translucent='true']) {
  opacity: 0;
  transition: opacity 0.2s 0.1s;
}

html[data-active='true']:has([data-translucent='true']) {
  opacity: 1;
  transition: opacity 0.2s;
}

/* Disable animations when on battery power */
html.reduce-motion *,
html.reduce-motion *::before,
html.reduce-motion *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
