._1fidbyf0 {
  display: flex;
  flex: 1 1;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
._1fidbyf1 {
  padding: 4px 18px 16px;
  width: 100%;
}
._1fidbyf2 {
  word-wrap: break-word;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
._1fidbyf3 {
  margin-top: 18px;
}
._1fidbyf4 {
  gap: 9px;
  justify-content: center;
  align-items: flex-start;
}
._1fidbyf4,
._1fidbyf5 {
  display: flex;
  flex-direction: column;
}
._1fidbyf5 {
  width: 100%;
}
._1fidbyf6 {
  position: relative;
}
._1fidbyf7 {
  margin-top: 16px;
}
._1fidbyf7,
._1fidbyf8 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._1fidbyf8 {
  padding: 0;
  border: none;
}
._1fidbyf9 {
  font-size: 20px;
  margin-right: 12px;
  vertical-align: top;
}
._1tentw40 {
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  color: var(--affine-text-primary-color);
  background-color: var(--affine-background-primary-color);
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: start;
}
._1tentw40:hover {
  box-shadow: var(--affine-shadow-1);
}
._1tentw41 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._1tentw42 {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
._1tentw43 {
  color: var(--affine-text-secondary-color);
  font-size: var(--affine-font-xs);
}
._1ovmub20 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px 0 8px;
}
._1ovmub21 {
  margin-left: 12px;
  margin-top: 10px;
  font-size: var(--affine-font-xs);
  color: var(--affine-text-secondary-color);
}
._1ovmub22 {
  margin: 2px 8px 2px 12px;
  height: 1px;
  background: var(--affine-border-color);
}
._1ovmub23 {
  font-size: var(--affine-font-sm);
}
._1ovmub24 {
  display: flex;
  border: 1px solid var(--affine-border-color);
  border-radius: 8px;
  background: var(--affine-white);
  margin: 4px;
  padding: 4px 8px;
}
._1ovmub25 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 4px;
}
._1ovmub26,
._1ovmub27 {
  font-size: var(--affine-font-xs);
  margin: 0 10px;
}
._1ovmub27 {
  color: var(--affine-text-secondary-color);
}
._1ovmub28 {
  font-size: var(--affine-font-sm);
  display: flex;
  margin-right: 10px;
}
._1ovmub29 {
  font-size: var(--affine-font-base);
  margin-right: 6px;
  display: flex;
  color: var(--affine-icon-color);
}
.xis01s0 {
  font-size: var(--affine-font-xs);
  width: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
}
.xis01s1 {
  box-shadow: var(--affine-shadow-2);
  padding: 0 10px;
  margin-top: 16px;
  background: var(--affine-background-overlay-panel-color);
  border-radius: 12px;
  width: 300px;
}
.react-datepicker__header {
  margin-bottom: 6px;
}
.react-datepicker__header,
.xis01s2 {
  background: var(--affine-background-overlay-panel-color);
  border: none;
}
.xis01s2 {
  margin-bottom: 12px;
}
.xis01s2,
.xis01s3 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 14px;
  position: relative;
}
.xis01s3 {
  background: var(--affine-background-overlay-panel-color);
  border: none;
  margin-bottom: 18px;
}
.xis01s3:after {
  content: '';
  position: absolute;
  width: calc(100% - 24px);
  height: 1px;
  background: var(--affine-border-color);
  bottom: -18px;
  left: 12px;
}
.xis01s4 {
  margin-left: 12px;
}
.xis01s4,
.xis01s5 {
  color: var(--affine-text-primary-color);
  font-weight: 600;
  font-size: var(--affine-font-sm);
}
.xis01s5 {
  margin-left: 8px;
}
.xis01s6 {
  color: var(--affine-text-primary-color);
  font-weight: 600;
  font-size: var(--affine-font-sm);
}
.xis01s7 {
  text-align: right;
  right: 50px;
}
.xis01s7,
.xis01s8 {
  width: 16px;
  height: 16px;
  position: absolute;
}
.xis01s8 {
  right: 14px;
}
.xis01s9 {
  font-size: var(--affine-font-xs);
  color: var(--affine-text-secondary-color);
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
  margin: 0 6px;
  vertical-align: middle;
}
.xis01sa {
  background: var(--affine-background-overlay-panel-color);
  border: none;
  width: 100%;
}
.xis01sb {
  font-size: var(--affine-font-xs);
  color: var(--affine-text-primary-color);
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
  margin: 6px 12px 6px 0;
  vertical-align: middle;
  font-weight: 400;
  border-radius: 8px;
}
.xis01sb:hover {
  background: var(--affine-hover-color);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.xis01sb[aria-selected='true'] {
  color: var(--affine-black);
}
.xis01sb[aria-selected='true'],
.xis01sb[aria-selected='true']:hover {
  background: var(--affine-hover-color);
}
.xis01sb[tabindex='0'][aria-selected='false'] {
  background: var(--affine-background-overlay-panel-color);
}
.xis01sb.react-datepicker__day--today[aria-selected='false'] {
  background: var(--affine-primary-color);
  color: var(--affine-palette-line-white);
}
.xis01sb.react-datepicker__day--today[aria-selected='false']:hover {
  color: var(--affine-black);
  background: var(--affine-hover-color);
}
.xis01sb.react-datepicker__day--outside-month[aria-selected='false'] {
  color: var(--affine-text-disable-color);
}
.xis01sc {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  color: var(--affine-icon-color);
  font-size: var(--affine-font-sm);
  cursor: pointer;
}
.xis01sd {
  font-size: var(--affine-font-base);
  color: var(--affine-text-primary-color);
  display: inline-block;
  line-height: 22px;
  padding: 6px 16px;
  font-weight: 400;
  border-radius: 8px;
}
.xis01sd:hover {
  background: var(--affine-hover-color);
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
}
.xis01sd[aria-selected='true'] {
  color: var(--affine-black);
  font-weight: 400;
}
.xis01sd[aria-selected='true'],
.xis01sd[aria-selected='true']:hover {
  background: var(--affine-hover-color);
}
.xis01sd[tabindex='0'][aria-selected='false'] {
  background: var(--affine-background-overlay-panel-color);
}
.xis01sd.react-datepicker__month-text--today[aria-selected='false'] {
  background: var(--affine-primary-color);
  color: var(--affine-palette-line-white);
}
.xis01sd.react-datepicker__month-text--today[aria-selected='false']:hover {
  background: var(--affine-hover-color);
  color: var(--affine-black);
}
.xis01sa .react-datepicker__month-container {
  float: none;
  width: 100%;
}
.xis01sa .react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.xis01sa .react-datepicker__month-text {
  margin: 0;
  width: 64px;
}
.i6ppfa0 {
  border-radius: 8px;
  height: 100%;
  padding: 4px 8px;
  font-size: var(--affine-font-xs);
  background: var(--affine-white);
  color: var(--affine-text-secondary-color);
  border: 1px solid var(--affine-border-color);
  transition: margin-left 0.2s ease-in-out;
}
.i6ppfa0:hover {
  border-color: var(--affine-border-color);
  background: var(--affine-hover-color);
}
.i6ppfa1 {
  margin-left: 20px;
}
.i6ppfa2:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--affine-border-color);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 1px;
}
.i6ppfa3 {
  margin-top: 4px;
  border-radius: 8px;
  padding: 8px 0;
}
.i6ppfa3:hover {
  background: var(--affine-hover-color);
  color: var(--affine-text-primary-color);
  border: 1px solid var(--affine-border-color);
}
.i6ppfa4 {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 8px;
}
.i6ppfa5 {
  margin-right: 8px;
}
.i6ppfa5,
.i6ppfa6 {
  display: flex;
  align-items: center;
  font-size: var(--affine-font-sm);
}
.i6ppfa6 {
  justify-content: center;
}
.i6ppfa7 {
  border-radius: 8px;
}
.i6ppfa7,
.i6ppfa7:hover {
  background: var(--affine-hover-color);
}
.i6ppfa7:hover {
  color: var(--affine-text-primary-color);
  border: 1px solid var(--affine-border-color);
}
.i6ppfa8 {
  font-size: var(--affine-font-h-6);
  font-weight: 600;
  line-height: 24px;
}
@keyframes o7g8v20 {
  0% {
    height: 0;
  }
  to {
    height: 44px;
  }
}
.o7g8v21 {
  background-color: var(--affine-background-warning-color);
  color: var(--affine-warning-color);
  font-size: var(--affine-font-sm);
  justify-content: center;
  position: relative;
}
.o7g8v21,
.o7g8v22 {
  height: 36px;
  display: flex;
  align-items: center;
}
.o7g8v22 {
  width: 36px;
  color: var(--affine-icon-color);
  cursor: pointer;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
}
.o7g8v23 {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 1;
}
.o7g8v24 {
  background-color: var(--affine-primary-color);
  color: var(--affine-white);
  width: 100%;
  height: 44px;
  font-size: var(--affine-font-base);
  position: relative;
  animation: o7g8v20 0.3s ease-in-out forwards;
}
.o7g8v24,
.o7g8v25 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.o7g8v26 {
  width: 24px;
  height: 24px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}
.o7g8v26,
.o7g8v27 {
  color: var(--affine-white);
}
.o7g8v27 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
}
.o7g8v28 {
  margin-left: 8px;
}
.o7g8v28,
.o7g8v29 {
  color: var(--affine-white);
}
.o7g8v29,
.o7g8v29:hover,
.o7g8v29:visited {
  text-decoration: underline;
}
.o7g8v29:visited {
  color: var(--affine-white);
}
.y008zf0 {
  height: 52px;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--affine-background-primary-color);
  z-index: var(--affine-z-index-popover);
  :has([data-popper-placement]) {
    -webkit-app-region: no-drag;
  }
}
.y008zf0[data-has-warning='true'] {
  height: 96px;
}
.y008zf0[data-sidebar-floating='false'] {
  -webkit-app-region: drag;
}
.y008zf1 {
  flex-shrink: 0;
  height: 52px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--affine-background-primary-color);
  z-index: 99;
  position: relative;
}
.y008zf1[data-is-edgeless='true'] {
  border-bottom: 1px solid var(--affine-border-color);
}
.y008zf2 {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: auto auto auto 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: unset;
  font-size: var(--affine-font-base);
}
.y008zf3 {
  max-width: 620px;
  transition: max-width 0.15s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.y008zf4 {
  position: relative;
  justify-content: center;
}
.y008zf4,
.y008zf5 {
  height: 100%;
  display: flex;
  align-items: center;
}
.y008zf5 {
  gap: 12px;
  z-index: 1;
}
.y008zf6 {
  background-color: var(--affine-background-warning-color);
  color: var(--affine-warning-color);
  height: 36px;
  font-size: var(--affine-font-sm);
  display: none;
  justify-content: center;
  align-items: center;
}
.y008zf6[data-show='true'] {
  display: flex;
}
.y008zf7 {
  width: 36px;
  height: 36px;
  color: var(--affine-icon-color);
  cursor: pointer;
  right: 15px;
}
.y008zf7,
.y008zf8 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.y008zf8 {
  right: 100%;
  bottom: 0;
  margin: auto;
}
.y008zf9 {
  position: absolute;
  left: calc(100% + 4px);
  top: 0;
  bottom: 0;
  margin: auto;
}
.y008zf9,
.y008zfa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y008zfa,
.y008zfb {
  font-size: var(--affine-font-base);
  color: var(--affine-text-primary-color);
}
.y008zfb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y008zfb:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--affine-border-color);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 1px;
}
.y008zfc {
  font-size: 20px;
  height: 1em;
  margin-right: 12px;
}
.y008zfd {
  align-items: center;
  margin-top: 12px;
  color: #fff;
  width: 48px;
  height: 26px;
  font-size: var(--affine-font-sm);
  line-height: 22px;
  background: var(--affine-primary-color);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.y008zfd,
.y008zfe {
  display: flex;
  justify-content: center;
}
.y008zfe {
  align-items: flex-end;
  flex-direction: column;
}
.y008zff {
  width: 100%;
  border-top: 1px solid var(--affine-border-color);
}
.y008zfg {
  width: 100%;
  padding: 14px;
}
.y008zfh {
  display: flex;
  gap: 2px;
  transform: translateX(8px);
}
.y008zfi {
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: inline-flex;
  width: 42px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.y008zfi[data-type='close']:hover {
  background: var(--affine-error-color);
  color: #fff;
}
.y008zfi:hover {
  background: var(--affine-background-tertiary-color);
}
@media print {
  .y008zf0 {
    display: none;
  }
}
@media (max-width: 768px) {
  .y008zf3[data-open='true'] {
    -webkit-app-region: no-drag;
  }
}
._1o4po2a0 {
  padding: 12px;
  display: flex;
  position: relative;
}
._1o4po2a0:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--affine-border-color);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 1px;
}
/*# sourceMappingURL=7168f579585a971b.css.map*/
