@import '@toeverything/theme/style.css';
@import '@toeverything/theme/fonts.css';

@font-face {
  font-family: 'color-emoji';
  src:
    local('Apple Color Emoji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
  unicode-range: U+1F000-1F644, U+203C-3299;
}

.dg > ul {
  overflow: scroll;
}
