.affine-default-page-block-title-container {
  margin-top: 78px;
  margin-bottom: 40px;
}

.affine-default-page-block-container {
  max-width: 686px;
}
.affine-default-page-block-container > .affine-block-children-container {
  margin-left: -26px !important;
}

affine-block-hub {
  position: unset !important;
}
.block-hub-menu-container {
  position: unset !important;
}
