.toc-scroll-item {
    animation: blinker 1s linear;
    animation-delay: 1s;
}

@keyframes blinker {
    0% {
        background: rgba(152, 172, 189, 0.1);
    }
    100% {
        background: rgba(152, 172, 189, 0.1);
    }
}
